html {
  font-size: 62.5%;
  font-family: Roboto, Arial; }

body {
  margin: 0;
  font-size: 1.8rem;
  max-width: 192rem;
  width: 100%;
  padding: 0;
  margin: auto;
  padding: 1.1rem;
  background: #f4f4f4;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  position: relative; }
  @media screen and (max-width: 192rem) {
    body {
      width: 100%; } }
  body * {
    box-sizing: border-box; }

header {
  position: relative;
  box-sizing: border-box;
  width: 54.11%;
  padding: 16.4rem 43.4rem 8.4rem 6.3rem;
  background-color: #FFF;
  background-image: url("assets/images/banner.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  border-radius: 2rem; }
  header h1 {
    font-size: 3.8rem;
    color: #363636;
    position: relative;
    z-index: 2; }
    header h1.n2 {
      font-size: 2.6rem; }
    header h1.n3 {
      font-size: 1.8rem; }
    header h1 .lighter {
      font-weight: lighter; }
    header h1 .bold {
      font-weight: bold; }
    header h1 .uppercase {
      text-transform: uppercase; }
    header h1 .br {
      display: block; }
    header h1 .red {
      color: #eb4e4b; }
    header h1 .min {
      margin-top: 1.1rem;
      font-size: 2rem; }
    header h1 .grey {
      color: #5f5f5f; }
    header h1.n3 .min {
      font-size: 1.6rem; }
    header h1.n3 .br {
      margin: 0; }
    @media screen and (max-width: 768px) {
      header h1 {
        font-size: 2.8rem; } }
    @media screen and (max-width: 425px) {
      header h1 {
        text-align: center; } }
  header img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 1; }
  @media screen and (max-width: 1440px) {
    header {
      width: 100%; } }
  @media screen and (max-width: 768px) {
    header {
      padding: 6.3rem 1rem; } }
  @media screen and (max-width: 425px) {
    header {
      background-image: none; } }

.sr-only {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

.container {
  padding: 1rem 14.5rem 8.8rem 14.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1920px;
  margin: auto; }
  @media screen and (max-width: 76.8rem) {
    .container {
      padding: 1rem 14rem; } }
  @media screen and (max-width: 76.8rem) {
    .container {
      padding: 1rem; } }

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%; }
  main video {
    width: 100%;
    margin-bottom: 2rem; }
  main a.link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 14.1rem;
    height: 4.5rem;
    background: #eaeaea;
    border-radius: .5rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.8rem;
    color: #363636;
    width: auto;
    border-radius: 2.6rem;
    background-color: #6c63ff;
    color: #FFF;
    padding: 1.6rem 2.5rem; }
    main a.link:hover, main a.link:focus {
      text-decoration: underline;
      background-color: #b2aeff;
      cursor: pointer; }
  main table.table {
    width: 100%;
    background-color: #f6f6f6;
    padding: 1rem 3rem;
    margin-bottom: 2rem; }
    main table.table .entete {
      font-weight: bold;
      color: #363636; }
    main table.table tr {
      margin-bottom: 2rem; }
      main table.table tr:last-of-type :after {
        content: "";
        width: 100%;
        height: 2rem;
        display: block; }
      main table.table tr td, main table.table tr th {
        padding: 0;
        color: #5f5f5f;
        font-weight: lighter;
        text-align: left; }
        main table.table tr td::before, main table.table tr th::before {
          content: "";
          width: 100%;
          height: 2rem;
          display: block; }
    main table.table caption {
      margin-bottom: 2rem;
      color: #363636; }
  main table.presentation img {
    width: 100%; }
  main section h2, main section h3 {
    font-size: 3.8rem;
    color: #363636; }
    main section h2.n2, main section h3.n2 {
      font-size: 2.6rem; }
    main section h2.n3, main section h3.n3 {
      font-size: 1.8rem; }
    main section h2 .lighter, main section h3 .lighter {
      font-weight: lighter; }
    main section h2 .bold, main section h3 .bold {
      font-weight: bold; }
    main section h2 .uppercase, main section h3 .uppercase {
      text-transform: uppercase; }
    main section h2 .br, main section h3 .br {
      display: block; }
    main section h2 .red, main section h3 .red {
      color: #eb4e4b; }
    main section h2 .min, main section h3 .min {
      margin-top: 1.1rem;
      font-size: 2rem; }
    main section h2 .grey, main section h3 .grey {
      color: #5f5f5f; }
    main section h2.n3 .min, main section h3.n3 .min {
      font-size: 1.6rem; }
    main section h2.n3 .br, main section h3.n3 .br {
      margin: 0; }
  main p {
    color: #363636; }
  main #main-content {
    width: 54.11%;
    margin-top: 6rem; }
    @media screen and (max-width: 1440px) {
      main #main-content {
        width: 100%; } }
    main #main-content ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      box-sizing: border-box;
      width: 100%; }
      main #main-content ul li {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        box-sizing: border-box;
        background: #FFF;
        padding: 2.9rem 5rem 2.9rem 5rem;
        width: 48.765%;
        border-radius: 2rem;
        margin-bottom: 2.2rem; }
        @media screen and (max-width: 768px) {
          main #main-content ul li {
            width: 100%; } }
        main #main-content ul li .links-container {
          display: block;
          width: 100%;
          text-align: center; }
          main #main-content ul li .links-container a {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 14.1rem;
            height: 4.5rem;
            background: #eaeaea;
            border-radius: .5rem;
            text-decoration: none;
            font-weight: bold;
            font-size: 1.8rem;
            color: #363636;
            margin: auto; }
            main #main-content ul li .links-container a:hover, main #main-content ul li .links-container a:focus {
              text-decoration: underline;
              background-color: #b2aeff;
              cursor: pointer; }
            main #main-content ul li .links-container a:first-of-type {
              margin-bottom: 1rem; }
        main #main-content ul li h3 {
          width: 100%;
          text-align: center; }
      main #main-content ul.posts h1, main #main-content ul.posts h2, main #main-content ul.posts h3 {
        font-size: 3.8rem;
        color: #363636; }
        main #main-content ul.posts h1.n2, main #main-content ul.posts h2.n2, main #main-content ul.posts h3.n2 {
          font-size: 2.6rem; }
        main #main-content ul.posts h1.n3, main #main-content ul.posts h2.n3, main #main-content ul.posts h3.n3 {
          font-size: 1.8rem; }
        main #main-content ul.posts h1 .lighter, main #main-content ul.posts h2 .lighter, main #main-content ul.posts h3 .lighter {
          font-weight: lighter; }
        main #main-content ul.posts h1 .bold, main #main-content ul.posts h2 .bold, main #main-content ul.posts h3 .bold {
          font-weight: bold; }
        main #main-content ul.posts h1 .uppercase, main #main-content ul.posts h2 .uppercase, main #main-content ul.posts h3 .uppercase {
          text-transform: uppercase; }
        main #main-content ul.posts h1 .br, main #main-content ul.posts h2 .br, main #main-content ul.posts h3 .br {
          display: block; }
        main #main-content ul.posts h1 .red, main #main-content ul.posts h2 .red, main #main-content ul.posts h3 .red {
          color: #eb4e4b; }
        main #main-content ul.posts h1 .min, main #main-content ul.posts h2 .min, main #main-content ul.posts h3 .min {
          margin-top: 1.1rem;
          font-size: 2rem; }
        main #main-content ul.posts h1 .grey, main #main-content ul.posts h2 .grey, main #main-content ul.posts h3 .grey {
          color: #5f5f5f; }
        main #main-content ul.posts h1.n3 .min, main #main-content ul.posts h2.n3 .min, main #main-content ul.posts h3.n3 .min {
          font-size: 1.6rem; }
        main #main-content ul.posts h1.n3 .br, main #main-content ul.posts h2.n3 .br, main #main-content ul.posts h3.n3 .br {
          margin: 0; }
      main #main-content ul.posts li {
        display: flex;
        width: 100%;
        padding: 4rem; }
        main #main-content ul.posts li .container-image {
          width: 36.1%;
          margin: 0;
          position: relative; }
          @media screen and (max-width: 768px) {
            main #main-content ul.posts li .container-image {
              width: 100%;
              margin-bottom: 2rem; } }
          main #main-content ul.posts li .container-image img {
            height: 100%;
            -o-object-fit: contain;
               object-fit: contain;
            width: 100%;
            display: block; }
          main #main-content ul.posts li .container-image .figcaption {
            position: absolute;
            bottom: 0;
            left: 0;
            margin: 0;
            background: #000000ba;
            color: #FFF;
            padding: .5rem;
            font-size: 1.4rem; }
        main #main-content ul.posts li .container-content {
          display: flex;
          flex-wrap: wrap;
          width: calc(100% - 36.1%);
          padding-left: 3.6rem; }
          @media screen and (max-width: 768px) {
            main #main-content ul.posts li .container-content {
              width: 100%; } }
          main #main-content ul.posts li .container-content h3 {
            text-align: left;
            margin-top: 0;
            margin-bottom: 0; }
          main #main-content ul.posts li .container-content p {
            font-size: 1.8rem;
            color: #838383;
            line-height: 2.5rem;
            margin-top: 3.2rem;
            margin-bottom: 3.2rem; }
    main #main-content form {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      background: #FFF;
      padding: 4rem;
      border-radius: 2rem; }
      main #main-content form p {
        width: 100%; }
        main #main-content form p.tchat {
          background-color: #ebba4b;
          padding: 2rem 1.5rem;
          border-radius: .5rem;
          color: #FFF;
          font-weight: bold; }
      main #main-content form .container-input {
        width: 45%;
        margin-bottom: 2rem; }
        @media screen and (max-width: 768px) {
          main #main-content form .container-input {
            width: 100%; } }
        main #main-content form .container-input label {
          display: block;
          font-weight: bold;
          color: #363636;
          margin-bottom: .5rem; }
        main #main-content form .container-input input {
          -webkit-appearance: none;
             -moz-appearance: none;
                  appearance: none;
          border: none;
          padding: 1rem;
          width: 100%;
          border: .1rem solid #eb4e4b;
          border-radius: .5rem; }
      main #main-content form button {
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        border: none;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 14.1rem;
        height: 4.5rem;
        background: #eaeaea;
        border-radius: .5rem;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.8rem;
        color: #363636;
        border-radius: 2.6rem;
        background-color: #6c63ff;
        color: #FFF;
        width: auto;
        padding: 1.6rem 2.5rem; }
        main #main-content form button:hover, main #main-content form button:focus {
          text-decoration: underline;
          background-color: #b2aeff;
          cursor: pointer; }
    main #main-content .white {
      margin-top: 2rem;
      background: #FFF;
      padding: 4rem;
      border-radius: 2rem; }
      main #main-content .white h2 {
        margin-top: 0; }
  main #ressources {
    position: absolute;
    top: 1rem;
    right: 14.5rem;
    vertical-align: top;
    width: 31.345%;
    max-width: 58.9rem;
    box-sizing: border-box; }
    @media screen and (max-width: 1440px) {
      main #ressources {
        position: relative;
        top: unset;
        right: unset;
        width: 100%;
        max-width: none; } }
    main #ressources #tools {
      box-sizing: border-box;
      width: 100%; }
      main #ressources #tools h2 {
        margin-top: 0rem; }
        @media screen and (max-width: 1440px) {
          main #ressources #tools h2 {
            margin-top: 2rem; } }
      main #ressources #tools ul {
        list-style: none;
        margin: 0;
        padding: 0; }
        main #ressources #tools ul li {
          width: 100%;
          margin-bottom: 2.5rem;
          background: #ebebeb;
          border: 0.1rem solid #c3c3c3;
          border-radius: 1rem; }
          main #ressources #tools ul li a {
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            height: 9rem;
            padding: 2.9rem 1.8rem;
            text-decoration: none; }
            main #ressources #tools ul li a .img {
              display: flex;
              justify-content: center;
              align-items: center;
              position: absolute;
              width: 5.1rem;
              height: 5.1rem;
              left: 1.8rem;
              top: 50%;
              transform: translateY(-50%);
              background: #FFF;
              border-radius: .5rem; }
            main #ressources #tools ul li a h3 {
              margin-left: 6.9rem;
              width: 100%; }
    main #ressources #usefull_links {
      width: 100%;
      margin-top: 4.4rem; }
      main #ressources #usefull_links ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; }
        main #ressources #usefull_links ul li {
          width: 45%; }
          @media screen and (max-width: 42.5rem) {
            main #ressources #usefull_links ul li {
              width: 100%; } }
          main #ressources #usefull_links ul li a {
            position: relative;
            display: flex;
            width: 100%;
            text-decoration: none;
            padding-left: 4.9rem; }
            main #ressources #usefull_links ul li a .img {
              position: absolute;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
              display: flex;
              justify-content: center;
              align-items: center;
              width: 3.5rem;
              height: 3.5rem;
              border-radius: .5rem;
              background: #eb4e4b; }
              main #ressources #usefull_links ul li a .img img {
                width: 2rem;
                height: 2rem; }
      main #ressources #usefull_links.objectifs-container li {
        width: 100%; }
  main a:hover > *,
  main a:focus > * {
    text-decoration: underline; }

.tp header, .tp #main-content {
  margin-left: auto;
  margin-right: auto; }
